body, .copyQuote, .new-quote{
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 30px;
    text-align: center;
    background: #DBE2EF;
    color: black;
    font-size: 30px;
  }
  

.main-page{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    border: 3px;
    padding: 100px;
    background-color: #A7BBC7;
    border-radius: 12px;
    color: aliceblue;
    box-shadow: 5px 10px 18px #888888;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.copyQuote, .new-quote{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;   
    border-radius: 5px;
}
.new-quote:hover, .copyQuote:hover{
    background-color:#DBE2EF;
    color: black;
}


footer{
    padding: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#112D4E;
    color: white;
    text-align: center;
 }

 .fa-brands{
     color:whitesmoke;
     margin: auto;
     padding: 3px;
 }

 .fa-brands:hover{
     color:#3F72AF;
 }

  /* iPhone XR */
  @media(max-width: 414px){
    .main-page{
        width: 70%;
        margin-top: 25px;
        padding: 30px;
        font-size: 20px;
    }

    
    footer, .header{
        padding: 5px;
    }
 }

   /* Samsung Galaxy S8+ */
   @media(max-width: 360px){
    .main-page{
        width: 80%;
        margin-top: 25px;
        padding: 30px;
        font-size: 20px;
    }

    
    footer, .header{
        padding: 5px;
    }
 }
